@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Ubuntu&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: inline;
}

header.navbar-container {
    position: sticky;
    top: 0;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    margin-inline: auto;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 9px 26px -20px rgba(0,0,0,0.75);
}

header.navbar-container .logo img {
    width: 200px;
    height: 40px;
    object-fit: cover;
}

header.navbar-container .nav-list ul {
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list ul li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #0085D0;
    color: white;
}

main {
    font-family: 'Poppins', 'Ubuntu', sans-serif;
    display: flex;
    margin: 1rem 3rem;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
    max-width: 1200px;
}

#content {
    display: flex;
    flex: 3;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem;
    border: 3px solid transparent;
    border-radius: 1rem;
    box-shadow: 1px 3px 15px -7px rgba(0,0,0,0.78);
}

.content-description{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.content-description .title {
    font-weight: 700;
    margin-block: 1rem;
}

.content-description p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.content-description button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #0085D0;
    border: 3px solid transparent;
    border-radius: 1rem;
    border-color: #0085D0;
    cursor: pointer;
    transition: all .15s ease-in;
}

.content-description button:hover {
    border: 3px solid transparent;
    color: white;
    background-color: #0085D0;
}

.content-client {
    margin-block: 2rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #e3f4ff;
    border-radius: 1rem;
}

.content-client h1 {
    line-height: .2rem;
}

/* Slider Style */
.container {
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    position: relative;
    width: 500px;
  }

.slider-wrapper .image-list {
    padding: 1rem 3rem;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 80px;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: black;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    outline: none;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button#prev-slide {
    left: -80px;
    display: none;  
        /* display none is for hide the slide button if there is no image again */
}

.slider-wrapper .slide-button#next-slide {
    right: -80px;
}

/* End of Slider Style */

article {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article-container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.article-content {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    background-color: #e3f4ff;
    border: 3px solid transparent;
    border-radius: 1rem;
}

.article-content img {
    width: 200px;
}

.article-content img:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.article-content button {
    padding: .5rem 1rem;
    margin-block-start: 1rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #0085D0;
    border: 3px solid transparent;
    border-radius: 999px;
    border-color: #0085D0;
    cursor: pointer;
    transition: all .15s ease-in;
}

.article-content button:hover {
    border: 3px solid transparent;
    color: white;
    background-color: #0085D0;
}

/* Aside Style */
aside {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    flex: 1;
    border: 3px solid transparent;
    border-radius: 1rem;
    box-shadow: 1px 3px 15px -7px rgba(0,0,0,0.78);
}

aside .profile-image {
    width: 100px;
}

aside .profile-company {
    display: flex;
}

aside .profile-company ul {
    padding: 0rem 1rem;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: .5rem;
}

aside .profile-company li {
    list-style-type: none;
}

aside .profile-company li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    transition: all .1s ease-in-out;
}

aside .profile-company li a:hover {
    color: #89b0d9;
}

/* Footer Style */
footer {
    width: 100%;
    background-color: #0085D0;
    color: white;
    text-align: center;
}

/* End of Main Content */

/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
        align-items: center;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: .5rem;
    }

    main {
        padding: 1rem 1rem;
    }

    main .content {
        flex-direction: column;
        gap: 2rem;
    }

    main .content .content-description .title {
        font-size: 2rem;
    }

    main .content .content-description p {
        font-size: 1rem;
    }

    main .content .content-image {
        order: -1;
    }

    .content-image img {
        max-width: 200px;
    }

    main .content .content-client {
        margin: 30rem 0;;
    }

    main .article .article-container {
        flex-direction: column;
    }

    main .article .article-container .article-content {
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
    }
}